<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gamestolearnenglish.chineseinflow"
    android:versionCode="5"
    android:versionName="5.0">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/new_logo2"
        android:label="Chinese"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Chinese"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_menu" />
        <activity android:name=".ReviewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_review" />
        <activity android:name=".PracticeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_practice" />
        <activity android:name=".LearnActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_learn" />
        <activity android:name=".EndActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_end" />
        <activity android:name=".SettingsActivityLearn"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_settings_learn"
            android:theme="@style/Theme.Transparent"/>
        <activity android:name=".SettingsActivityPractice"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_settings_practice"
            android:theme="@style/Theme.Transparent"/>
        <activity android:name=".SettingsActivityReview"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_settings_review"
            android:theme="@style/Theme.Transparent"/>
    </application>

</manifest>